:root {
  --field-size: 20.625rem;
}

.field {
  width: var(--field-size);
  height: var(--field-size);

  display: grid;
  grid-template-columns: repeat(3, 1fr);

  align-items: center;
  justify-items: center;

  position: relative;
  overflow: hidden;
}

.field_wrapper {
  border-radius: 1rem;
  background: var(--field-background-color, #d7b9d5);
  padding: 0.3125rem;

  grid-column: 2/3;
  grid-row: 2/3;
}

.wrapper {
  display: grid;
  grid-template-rows: 1fr var(--field-size) 1fr;
  grid-template-columns: 1fr var(--field-size) 1fr;
  justify-items: center;
  gap: 2rem;
  place-items: center;
}
